* {
    margin: 0;
    padding: 0;
}
.big-box {
    position: relative;
    min-height: 100vh;
}
.big-box .side-bar {
    width: 7%;
    background: rgba(0,0,0,.6);
    height: 100vh;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}
.big-box .side-bar .side-item {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.big-box .side-bar .side-item img {
    width: 80%;
}
.big-box .side-bar .side-items {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 2rem 0;
}
.big-box .side-bar .side-items:hover {
    background: hsla(0,0%,100%,.25)!important;
    cursor: pointer;
}
.content {
    width: 100%;
}
.content .header {
    background: url(../images/bg.jpeg) fixed 0% 0% no-repeat;
    background-size: cover;
    height: 100vh;
}
.content .header .cap {
    background-color: rgba(0,0,0,.45);
    height: 100%;
    width: 100%;
    position: relative;
}
.content .header .cap .title {
    position: absolute;
    bottom: 100px;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content .header .cap .title img {
    width: 450px;
}
.content .header .cap .title button {
    background: #c7413e;
    border: 2px solid #c7413e;
    color: #fff;
    box-shadow: inset 0 0 0 rgba(199,65,62,.4), 0 0 1.5em rgba(199,65,62,.6);
    padding: 1rem 2rem;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    width: max-content;
    margin-left: 1.5rem;
    margin-top: 10px;
}
.content .header .cap .title button:focus {
    outline: none;
}
.content .other {
    height: 100vh;
    background: #1b242f;
}