* {
	margin: 0;
	padding: 0;
}
.navBar {
	width: 100%;
	padding: 10px;
	background: #223140;
	color: #fafafa;
}
.container {
	max-width: 1150px;
	margin: auto;
}
.navBar .nav-header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.navBar .nav-header .nav-items {
	width: 50%;
}
.menu {
	text-align: right;
}
.navBar .nav-header .nav-items img {
	width: 126px;
}
.navBar .nav-header .nav-items ul li {
	list-style: none;
	display: inline-block;
	padding: 0 20px;
	font-weight: 700;
	cursor: pointer;
}

.header {
	width: 100%;
	height: 35vh;
	background: url('../image/back.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #00aca0;
	background-size: 100%;
}
.header .bg {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
}
.header .bg .details {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.height {
	height: 100%;
}
.header .bg .details .image {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.header .bg .details .image img {
	width: 90%;
}
.header .bg .details .description {
	width: 80%;
	color: #fafafa;
}
.header .bg .details .description .category {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 4rem;
}
.header .bg .details .description .category .type {
	width: 33%;
	text-align: center;
}
.header .bg .details .description .category .type h3 {
	margin-bottom: 5px;
}
.select {
	text-align: left !important;
}
.header .bg .details .description .category .type select {
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	background: #00acc1;
	color: #fff;
	font-weight: 700;
}
.header .bg .details .description .category .type select:focus {
	outline: none;
}
.header .bg .details .description .category .uil-yvdal {
	width: 100%;
}

.anime-container {
	width: 100%;
}
.anime-container .outer {
	width: 100%;
	padding: 15px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.32);
}